body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    margin-top: 75px;
    /* background-color: #161616; */
}

div.header {
    background-color: #f3f3f3;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
}

div.header .primary-link {
    vertical-align: middle;
}

div.header .secondary-links {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.header .secondary-links a {
    vertical-align: middle;
    color: #484848;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid transparent;
}

div.header .secondary-links a:hover {
    background-color: #31d7c1;
    border: 1px solid #25a393;
}

footer {
    background-color: #f3f3f3;
    padding: 50px;
    padding-top: 10px;
}

a {
    transition: color 1s;
    color: #484848;
    text-decoration: none;
}

a:hover {
    color: #25a393;
    text-decoration: underline;
}

div.tabledivoverflow {
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

@media (max-width: 600px) {
    div.tabledivoverflow {
        overflow: hidden;
    }
}

div.tablediv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

div.card, div.cardbig, div.cardfull {
    border-radius: 8px;
    border: 2px solid #adadad;
    margin-top: 10px;
    width: 400px;
    background-color: white;
    font-size: 17px;
    color: black;
    overflow: hidden;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

div.cardbig {
    width: 500px;
}

div.cardfull {
    width: 95%;
    margin: 20px;
}

.card-header,
.card-footer {
    height: 35px;
    background-color: #f3f3f3;
    display: flex;
}

.card-content {
    padding: 10px;
}

.card-footer-button {
    background: none;
    border: none;
    width: 35px;
    height: 100%;
    margin-left: auto;
    cursor: pointer;
    font-size: inherit;
}

.card-header-title {
    margin-left: 10px;
    margin-top: 6px;
    font-size: inherit;
}

.card-footer-button:hover {
    background-color: #31d7c1;
}

div.document {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.perspective-container{
    perspective: 1000px;
    width: fit-content;
    margin: 0 auto;
}

.image {
    transition: transform 0.75s, box-shadow 2s, border 4s;
    border-radius: 10px;
    border: 3px solid #f3f3f3;
    transform: rotateY(30deg) rotateX(30deg);
    transform-origin: center;
    box-shadow:
        -15px 15px 30px rgba(0, 0, 0, 0.5),
        -30px 30px #31d7c1,
        0px 0px 250px rgba(0, 0, 0, 0.2);
}

.perspective-container:hover .image {
    transform: rotateY(360deg) rotateX(0deg);
    box-shadow:
        0 12px 24px rgba(0, 0, 0, 0.2),
        0px 0px rgba(0,0,0,0);
    border: 3px solid #25a393;
}

p.centered {
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 260px;
}

div.contents-div {
    border-radius: 10px;
    background-color: #f3f3f3;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1) inset;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}